<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/det.css' %}">
    <title>Title</title>
</head>
<body>
    <div>
        <img src="{{ book.cover_photo.url }}" alt="" width="600">
        <p>{{book.title}}</p>
        <p>Author: {{book.author.name}}</p>
        <p>Publisher: {{book.publisher.name}}</p>
        <p>Publicated: {{book.publication_date}}</p>
{% if request.user.is_authenticated %}
<form method="POST" action="{% url 'update_book' book.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" id="title" name="title" value="{{ book.title }}">

    <select name="author_id" id="author_id">
        {% for i in authors %}
            <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
    </select>

    <select name="publisher_id" id="publisher_id">
        {% for i in publishers %}
            <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
    </select>

    <input type="date" id="publication_date" name="publication_date" value="{{ date }}">

    <input type="file" id="cover_photo" name="cover_photo">

    <button type="submit">Update</button>
</form>
{% endif %}

    </div>

</body>
</html>
